.form__header{
    color: #05abc4;
    text-align: center;
}

.form__labelText {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 5px;
}

.form__result {
text-align: center;
}

.form__field{
    max-width: 150px;
}

.form_setButtton{
    text-align: center;
    max-width: 600px;
}

.form__button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: beige;
}
